<p>
  I'm in a <em>view</em>!
</p>


<% @recipes.each do |recipe| %>
  <li>
    <%= recipe.name %>
    <%= recipe.rating %>
    <%= recipe.prep_time %>
    <%= recipe.description %>
  </li>
<% end %>
